@use './font' as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: $base-size;
  font-weight: $secondary-weight;
}
