@use './font' as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: $base-size;
  font-weight: $primary-weight;
  line-height: 150%;
}
button {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
  display: block;
  width: 100%;
}