$green-500: hsl(171, 66%, 44%);
$blue-100: hsl(233, 100%, 69%);
$gray-700: hsl(210, 10%, 33%);
$gray-500: hsl(201, 11%, 66%);

//border colors
$blue-700: hsl(233, 92%, 63%);
$green-700: hsl(171, 66%, 35%);

//hover colors
$blue-0: hsl(233, 96%, 70%);
$green-0: hsl(171, 66%, 46%);