@use './font.scss' as *;
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-center {
  @include flex-column;
  justify-content: center;
  align-items: center;
}
@mixin header-title($font-weight, $text-align, $font-size ) {
  font-weight: $secondary-weight;
  text-align: $text-align;
  font-size: $font-size;
}
@mixin site-button($background-color, $border, $border-color, $border-top: 0) {
  background-color: $background-color;
  border: $border;
  border-color: $border-color;
  border-top: $border-top;
  transition: background-color 0.3s ease-in-out;
}
@mixin section-grid($columns, $rows) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
}
